external/
match/tmp.bin
cmd/unify/unify
cmd/ledger/ledger
cmd/winloss/winloss
cmd/nats-client/nats-client
cmd/redis-cache/redis-cache
cmd/spread/spread
cmd/maxmind/maxmind
etc/GeoLite2-City.mmdb
etc/qq-pz.dat
etc/aofei.local.json
etc/summer.local.json
.local/
docs/*.docx
